.flex-product-total-wrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.products__line {
  background: #c4c4c4;
  border: 1px solid #c9c9c9;
  width: 100%;
  margin: 0;
  margin-top: 52px;
  margin-bottom: 42px;
}

.products__promocode{
  display: flex;
}

.products__promocode-btn {
  border: none;
  width: 185px;
  height: 56px;
  margin-left: -3px;
  background: #c28686;
  border-radius: 0px 4px 4px 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.products__promocode-btn:hover {
  background: #a86969;
}
.products__promocode-btn:active {
  background: #865454;
}

.products__promocode-input {
  padding: 16px 10px 16px 20px;
  outline: none;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  width: 274px;
  height: 56px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #c9c9c9;
}

.products__total {
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #585858;
}

.products__total span {
  font-weight: 500;
}

.products__sale {
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #c28686;
}

.products__sale span {
  font-weight: 500;
  padding-left: 65px;
}


.noting {
  font-weight: normal;
  font-size: 25px;
  line-height: 140%;
  color: #585858;
}

.delivery-method{
  width: 630px;
  margin: 0 auto;
}

.delivery__price {
  margin-top: 24px;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #585858;
  background: #e9e9e9;
  border-radius: 0px 4px 4px 4px;
  padding: 26px 0px 26px 30px;
}

.delivery__price span {
  font-weight: 500;
}
