.blog__topics {
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
  justify-content: flex-start;
}

.blog__topics a{
  margin-left: 20px;
  width: 175px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 124%;
  border: 1px solid rgba(194, 134, 134, 0.6);
  border-radius: 48px;
  text-align: center;
  padding-top: 9px;
  color: rgba(194, 134, 134, 0.8);
}

.blog__topic-active {
  background-color: #c28686 !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.blog__topics-select {
  border: 1px solid #c9c9c9;
  border-width: 0px 0px 1px 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #585858;
  padding-right: 64px;
  margin-left: 45px;
}

.blog__topics-select:focus{
  outline: none;
}

.blog__topics-option {
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #585858;
}
