.catalog__title{
  font-weight: 500;
  color: #C28686;
  padding-top: 140px;
  padding-bottom: 120px;
}

.slider-catalog:hover{
  filter: drop-shadow(2px 2px 40px rgba(107, 64, 64, 0.2));
}

.slider-catalog{
  position: relative;
  
}

.slider-catalog__img{
  width: 500px;
  height: 352px;
  border-radius: 4px;
}

.slider-text{
  position: absolute;
  display: flex;
}

.slider-catalog__arrow{
  z-index: 10;
  position: absolute;
  top: 213px;
  right: 70px;
}

.slider-catalog__sale{
  z-index: 2;
  position: absolute;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 128%;
  padding: 12px 24px;
  border: 1px solid #fff;
  border-radius: 4px;
  right: 70px;
  top: -8px;
}

.slider-catalog__text{
  z-index: 10;
  right: 105px;
  top: 144px;
  position: absolute;
  font-size: 32px;
  line-height: 128%;
  color: #FFFFFF;
}

.slider-catalog:hover .slide_hover {
  opacity:1;
}

.slide_hover{
  background-color: rgba(37, 32, 28, 0.3);
  position: absolute;
  width: 100%;
  height: 352px;
  border-radius: 4px;
  opacity:0;
}


.catalogSlider .swiper-button-next ,
.catalogSlider .swiper-button-prev {
  margin-top: -75px;
  color: #000;
}