.blog {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../../../img/blog/blog_bg.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 72px;
}

.blog__title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 148%;
  color: #6E8254;
  margin-bottom: 84px;
}

.blog__topics {
  padding-top: 60px;
  padding-bottom: 52px;
}

.blog__topic-active {
  background-color: #c28686 !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.blog__topics button {
  width: 175px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #c28686;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 124%;
  border: 1px solid #c28686;
  background-color: transparent;
  border-radius: 48px;
  margin-right: 24px;
}

.blog__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog__card-item {
  width: 370px;
  border-radius: 4px;
  opacity: 1;
  position: relative;
}

.img-blog{
  position: relative;
}

.img-blog::after{
  content: "";
  position: absolute;
  width: 370px;
  height: 370px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(26, 23, 23, 0.31) 57.03%, rgba(23, 22, 22, 0.6) 100%);
}

.blog__card-item:hover {
  box-shadow: 2px 2px 40px rgba(67, 41, 41, 0.4);
}

.blog__card-item:hover .blog__card-hover {
  opacity: 1;
}
.blog__card-item:hover .card__title {
  z-index: 13;
}

/* карточка при наведении */

.blog__card-visible {
  border-radius: 4px;
  display: flex;
  position: relative;
  transition: all 0.3;
  flex-direction: column;
  justify-content: flex-end;
  
}

.blog__card-visible img {
  border-radius: 4px;
  position: relative;
}

.blog__card-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 370px;
  /* margin-right: 24px; */
  background-color: rgba(14, 14, 14, 0.5);
  border-radius: 4px;
  text-align: center;
  transition: all 0.3;
  padding-top: 129px;
}

.card__title-hover {
  display: block;
  padding: 0 18px;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  margin-top: 82px;
}

.card__btn-hover {
  padding: 16px 68px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 20px;
  line-height: 128%;
  color: #fff;
  
}

/*  */

.card__title {
  display: block;
  position: absolute;
  padding: 63px 26px;
  z-index: 10;
  color: #fff;

  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}

.card__info {
  z-index: 20;
  width: 100%;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  padding: 28px 28px;
  position: absolute;
  color: #fff;
  font-size: 14px;
}

.card__info-date {
  display: flex;
  text-align: right;
  font-size: 16px;
  line-height: 124%;
  color: #C9C9C9;

}

.card__info-viewers span{
  margin-left: 8px;
  font-size: 16px;
  line-height: 124%;
  color: #C9C9C9;
}
.card__info-viewers{
  display: flex;
  align-items: center;
}

.card__info-viewers img {
  margin-right: 4px;
}

.blog__card-item:last-child {
  margin-right: 0px;
}

.blog__card-item{
  position: relative;
  transition: ease .5s;
}
.blog__card-item:hover .Hover-blog{
  opacity: 1;
}
.blog__card-item:hover .blog__card-visible::before{
  background-color: linear-gradient(180deg, rgba(26, 23, 23, 0.4) 57.03%, rgba(23, 22, 22, 0.8) 100%);
  border-radius: 4px;
}

.blog__card-visible::before {
  border-radius: 4px;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(180deg, rgba(26, 23, 23, 0.21) 57.03%, rgba(23, 22, 22, 0.5) 100%);
  z-index: 10;
  transition: ease .5s;
}



.Hover-blog {
  display: flex;
  width: 100%;
  background-color: rgba(14, 14, 14, 0.5);
  opacity: 0;
  position: absolute;
  z-index: 12;
  height: 100%;
  padding-top: 129px;
  justify-content: center;
  border-radius: 4px;
}

.blog-btn{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: transparent;
  color: #FFFFFF;
  outline: none;
  border: 1.2px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 4px;;
  transition: ease-in .1s;
  padding: 16px 38px;
}

/*  */

.blog-btn:hover{
  background-color: rgba(255, 255, 255, 0.25);
}

.blog-btn:active{
  background-color: rgba(67, 67, 67, 0.1);
}

.blog__btns a{
  padding: 16px 38px;
  border-radius: 4px;
  border: 1px solid #6E8254;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.blog__btns{
  display: flex;
  padding-top: 92px;
  justify-content: center;
}

.blog__btn-catalog:hover{
  background-color: #4E5E3B;
}

.blog__btn-catalog:active{
  background-color: #344025;
}

.blog__btn-catalog{
  background-color: #6E8254;
  color: #fff;
}

.blog__btn-more:hover{
  background-color: #4E5E3B;
  color: #fff;
}

.blog__btn-more:active{
  background-color: #344025;
  color: #fff;
}

.blog__btn-more{
  margin-left: 33px;
  color: #6E8254;
  background-color: transparent;
}

.blog-up span {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  color: rgba(194, 134, 134, 0.8);
  padding-right: 10px;
}

.blog-up{
  padding-top: 98px;
  display: flex;
  justify-content: flex-end;
}