.header-about {
  font-family: Montserrat;
  margin-top: 52px;
  font-weight: 500;
  font-size: 36px;
  line-height: 148%;
  color: #585858;
}

.text-about-container {
  margin-left: 100px;
  margin-top: 48px;
  padding-bottom: 140px;
}

.text-about {
  font-size: 16px;
  line-height: 190%;
  color: #585858;
  text-align: left;
  max-width: 640px;
}

.text-about:nth-child(1) {
  max-width: 594px;
}

.text-about:nth-child(2) {
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-about__bold {
  font-weight: 500;
}

.about-founder {
  display: flex;
  margin: 50px 0;
}

.block-2 {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.citata {
  margin-top: 120px;
  font-weight: 500;
  font-size: 18px;
  line-height: 190%;
  color: #ffffff;
}

.founder-subscribe {
  margin-top: 168px;
  font-size: 16px;
  line-height: 148%;
  color: #ffffff;
}

.founder-subscribe span {
  display: block;
  color: rgba(255, 255, 255, 0.8);
}

.founder {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.founder-bg::before {
  content: "";
  width: 1536px;
  height: 497px;
  position: absolute;
  right: 0;
  background: #6e8254;
  z-index: -1;
  top: -53px;
}

.section-5r__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 162%;
  color: #585858;
  text-align: center;
}

.section-5r {
  padding-top: 160px;
  padding-bottom: 150px;
  text-align: center;
}

.concept-list__item {
  text-align: left;
}
