.form-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #51774e;
  padding-bottom: 28px;
}

.form-heading-delivery{
  padding-top: 93px;
}

.form-heading-pay{
  padding-top: 80px;
}

.form-heading-info{
  padding-top: 68px;
}

.form-heading:nth-child(4){
  padding-top: 68px;
}

.radio-border {
  border: none;
  padding: 0;
}

.form-input {
  width: 300px;
  height: 52px;
  outline: none;
  border: none;
  padding: 15px 0px 15px 20px;
  background: #ececec;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #878787;
}

.form-input:focus {
  border: 1px solid #6a6a6a;
  background: #fff;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.delivery-textarea {
  width: 100%;
  height: 120px;
  resize: none;
}

.input-checkbox {
  margin-right: 12px;
}

.input-checkbox-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 190%;
  color: #585858;
}

.offer {
  padding-top: 36px;
  padding-bottom: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 190%;
  color: #585858;
}

.offer__link {
  color: #387732;
}

.button-container {
  padding-top: 44px;
  text-align: center;
}

.form-button:hover {
  background-color: #4E5E3B;
}

.form-button:active {
  background-color: #344025;
}

.form-button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 16px 38px;
  background: #6E8254;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
