.basket {
  position: relative;
}

.basket-navigation__links {
  padding-top: 153px;
}

.main-heading-basket {
  text-align: left;
  padding-top: 68px;
  font-weight: 500;
  font-size: 36px;
  line-height: 148%;
  color: #c28686;
}

.basket-container {
  width: 1033px;
  margin: 0 auto;
  padding-bottom: 232px;
}

.basket__information {
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 72px;
  padding-bottom: 40px;
  padding-left: 0;
}

.basket__information-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: #c9c9c9;
}

.basket__information-item:nth-child(1) {
  padding-right: 380px;
}

.basket__information-item:nth-child(2) {
  padding-right: 138px;
}

.basket__information-item:nth-child(3) {
  padding-right: 119px;
}
