#header{
  position:fixed;
  width: 100%;
  background-color: #fff;
  z-index: 101;
  border-bottom: 1px solid#DFDFDF;
}

.main__wrapper{
  padding-left: 100px;
}

.header{
  display: flex;
  justify-content: space-between;
}

/* логотип */
.header__logo {
  margin-top: 25px;
  margin-bottom: 24px;
}

.header__logo a {
  display: flex;
  align-items: center;
}

/*  Навбар */
.header__navbar {
  display: table;
  margin-top: 32px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__links:after {
  content: "";
  display: table;
  clear: both;
}

.nav__links li{
  float: left;
  position: relative;
  margin-left: 60px;
  font-size: 16px;
  font-weight: 500;
}

.nav__link-item:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #6E8254;
  cursor: pointer;
}

.nav__link-item {
  /* color: rgba(255, 255, 255, 0.8); */
  color: #585858;
  font-weight: normal;
}

.nav__link-item:hover {
  /* color: #fff; */
  /* color: #4F4F4F; */
  font-weight: 500;
}

.nav__links li:first-child {
  margin-left: 0;
}

.nav__link-shop img {
  margin-left: 10px;
  padding-bottom: 2px;
}

.nav__link-items{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  margin-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 170px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin :0 0;
  transition: .5s ease-in-out;
}

.nav__link-items li {
  margin: 0;
}
.nav__link-items li a:hover {
  padding-bottom: 0px;
  border-bottom: none;
}
.nav__link-items li a {
  display: block;
  text-align: left;
  margin: 12px 0px;
}

.nav__links>li:hover .nav__link-items {
  opacity: 1;
  transform: scaleY(1);
}




/* Поиск */

.header-search,
.header-favorites,
.header-basket {
  cursor: pointer;
  opacity: 1;
}
.header-favorites,
.header-basket {
  margin-left: 32px;
}

.goods{
  position: relative;
}

.goods__number{
  display: flex;
  width: 23px;
  color: #E0E0E0;
  border-radius: 50%;
  padding: 2px 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  background-color: #6E8254;
  margin-bottom: 10px;
  position: absolute;
  margin-top: -37px;
  margin-left: 11px;
  height: 23px;
  align-items: center;
  justify-content: center;
  
}

.navigationHeader {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.navigation__link{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigationHeader a {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  margin-top: 11px;
  color: #878787;
}

.navigation__link-vk{
  margin-left: 41px;
}
.navigation__link-inst,
.navigation__link-telegram {
  margin-left: 15px;
}

.navigation__link-vk,
.navigation__link-inst,
.navigation__link-telegram {
  width: 31px;
  height: 31px;
  background-color:grey;
  border-radius: 50%;
  text-align: center;
}

.navigation__link-vk img,
.navigation__link-inst img,
.navigation__link-telegram img {
  vertical-align: middle;
}

.logo__name {
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: #343C2A;
}

.logo__name span{
  color: #6A7A56;
}

/* для страницы магазина */

.navigation__shop{
  display: flex;
  flex-direction: row;
  margin-top: 33px;
  position: relative;
}

.header-input input::placeholder{
  color:#c9c9c9;
  font-size: 16px;
  line-height: 128%;
}

.header-input input{
  width: 270px;
  height: 40px;
  background-color: rgba(196, 196, 196, 0.2);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 128%;
  padding-left: 20px;
  outline: none;
  position: relative;
}

.header-input{
  display: none;
  position: absolute;
  right: 0;
  top: -9px;
}

.header__input-close {
  position: absolute;
  right: 32px;
  top: 13px;
  width: 12px;
  height: 12px;
  opacity: 0.6;
}

.header__input-close:hover {
  opacity: 1;
}

.header__input-close:before,
.header__input-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 12px;
  width: 2px;
  background-color: #6A6A6A;
}

.header__input-close:before {
  transform: rotate(45deg);
}

.header__input-close:after {
  transform: rotate(-45deg);
}

.navigation__search-icon:hover,
.navigation__favorites-icon:hover{
  /* fill: #C28686; */
  stroke: #C28686;
  /* color: #C28686; */
}
.navigation__search-icon ,
.navigation__favorites-icon {

  fill: none;
  stroke: #878787;
}

.navigation__basket-icon {
  fill: none;
  stroke: #878787;
}

.navigation__basket-icon:hover {
  fill: #C28686;
  stroke: #C28686;
}