.blog-data{
    font-size: 16px;
    line-height: 124%;
    color: #585858;

}
.blog-data span{
    color: #878787;
}
.blog-title-h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 124%;
    color: #585858;
    margin-top: 40px;
    margin-bottom: 20px;
}
.blog-data-div svg{
    padding-right: 6px;
}
.blog-data-div{
    padding-top: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}

.blog-container{
    padding-right: 100px;
}
.main-text-blog{
    padding-left: 96px;
    width: 85%;
    margin: auto;
}
.citata-blog{
    font-weight: 500;
    font-size: 16px;
    line-height: 190%;
    color: #585858;
    position: relative;
    width: 95%;
    margin: auto;

}
.citata-blog::after{
    content: '';
    position: absolute;
    width: 207px;
    height: 2px;


background: #6E8254;
    top: 51%;
    left: -120px;
    transform: rotate(90deg);
}

.citata-blog p+p{
    margin-top:32px;
}
.title_blog{
    font-weight: 500;
    font-size: 20px;
    line-height: 190%;
    color: #585858;
    margin-top: 40px;
    margin-bottom: 24px;
}
.main-text__blog{
    font-size: 16px;
    line-height: 190%;
    color: #585858;
}

.blog__img{
    display: block;
    padding: 40px 0;
    margin: auto;
}

.blog__list li{
    font-size: 16px;
    line-height: 190%;
    color: #585858;
}
.blog__list{
    list-style-type:circle;
    font-size: 16px;
    line-height: 190%;
    color: #585858;
}

.blog_line{
    width: 100%;
    height: 1px;
    background-color: #c9c9c9;
    margin-bottom: 100px;
}
.blog_btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 120px;
}

.blog_btn-catalog{
    background-color: #6E8254;
    border-radius: 4px;
    padding: 16px 38px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-right: 33px;
}

.blog_btn-main{
    background-color: transparent;
    border: 1px solid #6E8254;
    padding: 16px 38px;
    border-radius: 4px;
    color: #6E8254;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}