.slider{
  background-image: url("../../../../img/slider_bg.jpg");
  margin-top: -12px;
  padding-bottom: 50px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-end;
}

.mainSlider .swiper-pagination-bullet {
  width: 350px ;
  height: 2px ;
  /* border: 2px solid ; */
  border-radius: 0px ;
  background-color:#D5D5D5;
}

.mainSlider .swiper-slide {
  flex-direction: column;
  align-items: center;
}
.mainSlider .swiper-button-disabled {
  opacity: 0.5 ;
  color: #878787;
}
.mainSlider .swiper-button-next,
.mainSlider .swiper-button-prev {
  color: #878787;
}

.mainSlider .swiper-pagination {
  bottom: 65px !important;
}

.slider-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 140px;
}

.slider__new{
  font-size: 36px;
  line-height: 24px;
  color: #C28686;
}

.slider__more img{
  margin-left: 7px;
}

.slider__more{
  font-size: 16px;
  line-height: 148%;
  color: #585858;
}

.slider-info__wrapper{
  display: flex;
  flex-direction: row;
  padding-top: 44px;
  align-items: flex-end;
}

.slide__img{
  padding-right: 50px;
}

.slider__title{
  padding-top: 160px;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  color: rgba(255, 255, 255, 0.8);
}

.slide__info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
}

.slide__text {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #6B4040;
}

.slide__price{
  margin-top: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #C28686;
}

.slide__btn:hover{
  background-color: #9E6A6A;
}

.slide__btn:active{
  background-color: #865454;
}

.slide__btn{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: #C28686;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 18px 55px;
  margin-top: 20px;
  margin-bottom: 70px;
}