footer {
  background-color: #6B4040;
}

.footer {
  padding-bottom: 48px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 3fr 2fr;
  grid-column-gap: 30px;
}

.footer__logo-text {
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
}

.footer__logo-text span {
  color: #C28686;
}

.footer__menu {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.footer__menu span {
  font-weight: 600;
  color: #fff;
  padding-bottom: 16px;
}

.footer__menu a {
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 16px;
}

.footer__social {
  display: flex;
  text-align: right;
  flex-direction: column;
}

.footer__social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
}

.footer__social-links img {
  vertical-align: -webkit-baseline-middle;
}

.footer__social-vk,
.footer__social-inst,
.footer__social-telegram {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 20px;
  line-height: 29px;
}

.footer__social-emal {
  margin-top: 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}

.footer__social-tel {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}

.footer__line {
  height: 1px;
  background-color: rgba(194, 134, 134, 0.2);
  width: 100%;
}

.footer__pay img {
  padding-left: 8px;
}

.footer__docs {
  padding-bottom: 52px;
  padding-top: 36px;
  display: grid;
  grid-template-columns: 3fr 3fr 4fr 2fr;
  grid-column-gap: 30px;
}

.footer__offer,
.footer__policy {
  display: grid;
  align-items: center;
}

.footer__offer a,
.footer__policy a {
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.5);
}

.footer__date {
  display: grid;
  align-items: center;
  text-align: right;
  font-size: 14px;
  line-height: 22px;
  color: #C28686;
}
