.purpose {
  padding-top: 15px;
  padding-bottom: 220px;
}

.purpose-line{
  width: 100%;
  height: 1px;
  background-color: #C9C9C9;
  margin-bottom: 140px;
}

.purpose-wrapper{
  display: flex;
  justify-content: space-between;
}

.purpose-wrapper p {
  text-align: left;
  padding-top: 32px;
  font-size: 16px;
  line-height: 190%;
  color: #585858;
}

.purpose-text-1{
  width: 313px;
  text-align: center;
}
.purpose-text-2 {
  text-align: center;
  width: 239px;
}
.purpose-text-3 {
  text-align: center;
  width: 295px;
}