@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat',
  sans-serif;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

h1{
  font-size: 60px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 16px;
}
h6{
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}

.main-heading {
  font-family: "Montserrat",
  sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 148%;
  text-align: center;
  color: #6b4040;
}

ul{
  list-style-type: none;
}

button{
  cursor: pointer;
  outline: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  max-width: 1170px;
}
