.liked-navigation__links {
  padding-top: 153px;
}

.main-heading-liked {
  color: #c28686;
  font-weight: 500;
  font-size: 36px;
  line-height: 148%;
  text-align-last: left;
  padding-top: 68px;
  padding-bottom: 60px;
}

.favorites_buttons{
  padding-bottom: 75px;
}

/*  */

.shop-card__icons-favorite{
  text-align: center;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
}

.shop_favorite-icon {
  margin-top: 5px;
  cursor: pointer;
  fill: #C28686;
  stroke: #C28686;
}
