.contacts__form {
  padding-top: 120px;
  padding-bottom: 140px;
  text-align: center;
  background-image: url("../../../../../src/img/contact-form-bg.jpg");
}

.contacts__form p {
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}

.contacts__form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 52px;
}

.contacts-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.contacts-input {
  width: 370px;
  height: 52px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #878787;
  padding-left: 20px;
  background: #ececec;
  border-radius: 4px;
  border: none;
}

.contacts-textarea {
  width: 369px;
  height: 128px;
  resize: none;
  outline: none;
  padding-top: 15px;
}

.contacts-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.contacts-button:active {
  background-color: rgba(67, 67, 67, 0.1);
  border: 1.2px solid rgba(255, 255, 255, 0.5);
}

.contacts-button {
  width: 178px;
  height: 56px;
  border: 1.2px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
