main{
  padding-top: 85px;
}

.main {
  background: url(../../../img/main_bg.jpg) no-repeat center center;
  width: 100%;
  padding-top: 151px;
  padding-bottom: 224px;
  background-size: cover;
}


.main__title {
  width: 410px;
  font-size: 28px;
  line-height: 140%;
  color: #6C5F53;
  font-weight: normal;
}

.main__btn-shop:hover{
  background-color: #4E5E3B;
}

.main__btn-shop:active{
  background-color: #344025;
}

.main__btn-shop{
  font-family: 'Montserrat',
  sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  border-radius: 4px;
  background-color: #6E8254;
  padding: 16px 38px;
  border: none;
  margin-top: 48px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
}
